
<div class="top"><h2>Welcome</h2></div>
<div class="leftBuffer">
	<img src="/img/mainPageDrinks.jpg" alt="picture">
	<img src="/img/mainPageDrinks.jpg" alt="picture">
	<img src="/img/mainPageDrinks.jpg" alt="picture">
</div>
<div class='loginRegisterCont'>
	<div class='innerContainer'>
		<h3>Login</h3>

		<div id='message'>{{message}}</div>
		<form method="POST" action="">
				<div class='username'>
					username: <input name="username" type="text">
				</div>	
				<div class='password'>
					password: <input name="password" type="password">
				</div>	
				<input class="submitBtn" type="submit" id="loginBtn" value="Login">	
				<div>If you don't have an account please <a id="register" href="/register">register</a></div>
		</form>
	</div>
</div>
<div class="rightBuffer">
	<img src="/img/mainPageDrinks.jpg" alt="picture">
	<img src="/img/mainPageDrinks.jpg" alt="picture">
	<img src="/img/mainPageDrinks.jpg" alt="picture">
</div>
